<nav class="navbar navbar-expand-lg navbar-dark bg-semi-dark p-3">
  <div class="container">
    <a class="navbar-brand fw-semibold p-2" routerLink="/">eAgenda Web<i
        class="bi bi-clipboard2-check-fill ms-2"></i></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
      (click)="estaColapsada = !estaColapsada">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" [ngbCollapse]="!estaColapsada">
      <div class="links w-100 text-center" *ngIf="(usuarioLogado$ | async) as usuarioLogado">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link text-primary" routerLinkActive="fw-semibold" routerLink="/tarefas">Tarefas</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-primary" routerLinkActive="fw-semibold" routerLink="/contatos">Contatos</a>
          </li>
          <li class="nav-item ms-0 ms-lg-auto">
            <a class="nav-link text-primary" routerLinkActive="fw-semibold" routerLink="/dashboard"><i
                class="bi bi-person-lines-fill me-1"></i>{{ usuarioLogado.nome }}</a>
          </li>
          <li class="nav-item ms-2">
            <a class="btn btn-primary" role="button" (click)="sair()"><i class="bi bi-door-open me-1"></i>Sair</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
